<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<%= render Shared::BannerComponent.new("homepage") %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
             social_url: root_url %>
<% end %>

<%= render "shared/header", header: @header %>

<%= image_tag 'bandar_qasim_platform_header.png', style: "margin-top:-1.5rem" %>
<div style="display:flex; flex-direction:row; justify-content: center; margin-top:2rem;">
  <a class="button button-secondary" href="/proposals/new" style="background-color: #05acec; color: white; font-weight: 700;"><%= t("map.start_proposal") %></a>
</div>
<%= image_tag 'bandar_qasim_platform_banner.png', style: "margin-top:2rem" %>

<%= render "feeds" %>

<div class="row">
  <% if @cards.any? %>
    <div class="small-12 column <%= "large-8" if feed_processes_enabled? %>">
      <h2 class="title"><%= t("welcome.cards.title") %></h2>

      <%= render "shared/cards", cards: @cards %>
    </div>
  <% end %>

  <% if feed_processes_enabled? %>
    <div class="small-12 large-4 column">
      <%= render "processes" %>
    </div>
  <% end %>
</div>

<% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
  <%= render "recommended",
             recommended_debates: @recommended_debates,
             recommended_proposals: @recommended_proposals %>
<% end %>
